My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "bcc48003-bc75-43a9-ac91-0714649b649b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "56d9c1d4-9177-44fe-a10c-5adb870b067d",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "L3mYTDAPNQypA5cc",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "d72a74b8-56de-4430-979b-9061fab92aa5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        208
      ],
      "id": "72d66781-68c6-4b23-9932-a1307249dabf",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "R53ULyLbRmqpsH5H",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "harshh1316@gmail.com",
        "subject": "okie",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "a7aea966-5720-4f4c-9810-d77fee8d57be",
      "name": "Send a message",
      "webhookId": "97f73dfd-bbe2-4a25-b77e-23a6f17c29a3",
      "credentials": {
        "gmailOAuth2": {
          "id": "L3mYTDAPNQypA5cc",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "306c4ad1-2ddd-4842-ae49-e4f8fea57efe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98a5f38a3f915f634360ce759e0d5e62bba032013080671efb48ea0465c1af06"
  },
  "id": "I5Nj0LSnRatDuKNi",
  "tags": []
}